# Three services: MongoDB, backend API, and frontend
services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always

  backend:
    build: ./server
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongodb:27017/todoapp
      - PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./client
      args:
        VITE_API_URL: http://16.171.145.191:5000/api
    container_name: frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend